@import "./common/colors.scss";
.blueButton {
    height: 36px;
    left: 802px;
    top: 682px;
    background: #2196F3;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    color: #E3F2FD; 
    margin-right: 20px;
    border: none; 
  }
  .button:active {
    background-color: aqua;
  }
  .witeButton {
    height: 36px;
    left: 927px;
    top: 682px;
    background: #E3F2FD;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    color: $blueColor;
    border: none;
  }